{% extends "layouts/normal-section-wrapper.njk" %}
{% block section %}
{% sectionTitle "Abstract" %}
{{ "> Faster subsequent page-loads by prefetching in-viewport links during idle time." | markdown | safe }}
{% include "components/github-star.njk" %}
{% include "components/github-fork.njk" %}
{% endblock %}