{% extends "layouts/normal-section-wrapper.njk" %}
{% block section %}
<h1 class="heading text-center primary-font-color">
Speed up next page navigations by up to <em class="secondary-font-color">1 second</em> and improve conversions by up to <em class="secondary-font-color">10%</em>
</h1>

<div class="github-star-fork">
{% include "components/github-star.njk" %}
{% include "components/github-fork.njk" %}
</div>

<div class="large-github-star-fork">
{% include "components/large-github-star.njk" %}
{% include "components/large-github-fork.njk" %}
</div>
{% endblock %}