{% extends "layouts/normal-section-wrapper.njk" %}
{% block section %}
<h1 class="heading text-center">
Speed up next page navigations by up to <em>1 second</em> and improve conversions by up to <em>10%</em>
</h1>
{% include "components/github-star.njk" %}
{% include "components/github-fork.njk" %}
{% endblock %}