{{ "For use with [node](http://nodejs.org) and [npm](https://npmjs.com):" | markdown | safe }}
{% highlight "js" %}
npm install --save quicklink
{% endhighlight %}

ES Module import:
{% highlight "js" %}
import quicklink from "quicklink/dist/quicklink.mjs";
quicklink();
{% endhighlight %}