Quickstart:
{% highlight "js" %}
<!-- Include quicklink from dist -->
<script src="https://unpkg.com/quicklink@1.0.0/dist/quicklink.umd.js"></script>
<!-- Initialize (you can do this whenever you want) -->
<script>
quicklink();
</script>
{% endhighlight %}

{{ "For example, you can initialize after the `load` event fires:" | markdown | safe }}
{% highlight "js" %}
<script>
window.addEventListener('load', () => {
  quicklink();
});
</script>
{% endhighlight %}