{% extends "layouts/normal-section-wrapper.njk" %}
{% block section %}
{% sectionTitle "Usage" %}
{{ "Once initialized, `quicklink` will automatically prefetch URLs for links that are in-viewport during idle time." | markdown | safe }}

{{ "Quickstart:" | markdown | safe }}
{# TODO: extract as a component #}
<button id="copy-snippet-btn" type="button" data-clipboard-target="#snippet-for-copy">Copy snippet</button>
<div id="snippet-for-copy">
{% highlight "js" %}
<!-- Place this tag in your head or just before your close body tag. -->
<!-- Include quicklink from CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/quicklink/1.0.1/quicklink.umd.js"></script>
<!-- Initialize (you can do this whenever you want) For example, you can initialize after the 'load' event fires: -->
<script>
window.addEventListener('load', () => {
  quicklink();
});
</script>
{% endhighlight %}
</div>

{{ "ES Module import:" | markdown | safe }}
{% highlight "js" %}
import quicklink from "quicklink/dist/quicklink.mjs";
quicklink();
{% endhighlight %}

{{ "The above options are best for multi-page sites. Single-page apps have a few options available for using quicklink with a router:" | markdown | safe }}
{{ "* Call `quicklink()` once a navigation to a new route has completed" | markdown | safe }}
{{ "* Call `quicklink()` against a specific DOM element / component" | markdown | safe }}
{{ "* Call `quicklink({urls:[...]})` with a custom set of URLs to prefetch" | markdown | safe }}
{% endblock %}
