{{ "## **Use with**" | markdown | safe }}
<div class="center">
  {% for framework in site.useWithFrameworks %}
    <a href="{{ framework.url }}" target="_blank" rel="noopener noreferrer" class="link__silent">
      <img src="assets/images/logos/{{ framework.title }}.svg" width="128" alt="{{ framework.title }}" />
    </a>
  {% endfor %}
</div>