{# TODO: front matter adoption #}
{{ "## Why Quicklink?" | markdown | safe }}
{{ "This project aims to be a drop-in solution for sites to prefetch links based on what is in the user's viewport. It also aims to be small (**< 1KB minified/gzipped**)." | markdown | safe }}