<!doctype html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="{{ description }}">
        <meta name="twitter:card" content="TODO:">
        <meta name="twitter:site" content="@Quicklink">
        <meta name="og:title" content="{{ title }}">
        <meta name="twitter:title" content="{{ title }}">
        <meta name="twitter:description" content="{{ description }}">
        <meta name="og:description" content="{{ description }}">
        
        {# ray test touch < #}
        {# <meta name="twitter:image" content="https://i.imgur.com/NVRZLHv.png">
        <meta name="og:image" content="https://i.imgur.com/NVRZLHv.png"> #}
        <meta name="twitter:image" content="/img/logo-banner.png">
        <meta name="og:image" content="/img/logo-banner.png">
        {# ray test touch > #}

        <meta name="og:url" content="https://quicklink.com{{ page.url }}">
        <meta name="og:type" content="website">
        <meta charset="UTF-8">
        {# TODO: double check for PWA manifest #}
        <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg" color="#000000">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-config" content="/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        {# TODO: font not confirmed #}
        <link rel="preload" as="font" type="font/woff2" href="{{ '/fonts/libre-baskerville-v6-latin-regular.woff2' | url }}" crossorigin>
        <link rel="stylesheet" href="{{ '/styles.css' | url }}">
    </head>
    <body>
        <header class="page-header">
            <a href="{{ '/' | url }}" class="page-header__logo-link">
                <img src="{{ '/img/logo.png' | url }}" width="150" height="150" alt="LeedsJS Logo"  class="page-header__logo-image" />
            </a>
            <nav class="page-header__navigation">
                <ul>
                    <li>
                        <a href="{{ '/' | url }}" {% if page.url == "/" %}class="active"{% endif %}>Home</a>
                    </li>
                    <li>
                        <a href="{{ '/events/' | url }}" {% if page.url == "/events/" %}class="active"{% endif %}>Events</a>
                    </li>
                    <li>
                        <a href="{{ '/talks/' | url }}" {% if page.url == "/talks/" %}class="active"{% endif %}>Talks</a>
                    </li>
                    <li>
                        <a href="{{ '/speakers/' | url }}" {% if page.url == "/speakers/" %}class="active"{% endif %}>Speakers</a>
                    </li>
                    <li>
                        <a href="{{ '/code-of-conduct/' | url }}" {% if page.url == "/code-of-conduct/" %}class="active"{% endif %}>Code of Conduct</a>
                    </li>
                    <li>
                        <a href="/github" target="_blank" rel="noopener noreferrer">Github</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/quicklink" target="_blank" rel="noopener noreferrer">Twitter</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/quicklink" target="_blank" rel="noopener noreferrer">YouTube</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="page-main">
            {{ content | safe }}
            
            <div>
                <p class="center">
                    <a href="https://github.com/GoogleChromeLabs/quicklink" target="_blank" rel="noopener noreferrer" class="link__yellow">
                        View source on GitHub
                    </a>
                </p>
            </div>
            <div class="back-to-top hidden">&uarr;</div>
        </main>
        <script type="text/javascript" src="{{ '/script.js' | url }}" defer></script>
    </body>
</html>
