<!doctype html>
<html lang="en">
  {% include "layouts/head.njk" %}
  <body>
    {% include "layouts/header.njk" %}}
    <main class="page-main">
      {{ content | safe }}
      <div>
        <p class="center">
          <a href="https://github.com/GoogleChromeLabs/quicklink" target="_blank" rel="noopener noreferrer" class="link__yellow">
            View source on GitHub
          </a>
        </p>
      </div>
      {% include "layouts/footer.njk" %}
      <div class="back-to-top hidden">&uarr;</div>
    </main>
    <script type="text/javascript" src="{{ '/script.js' | url }}" defer></script>
  </body>
</html>
