---
title: Quicklink
layout: layouts/base.njk
description: Faster subsequent page-loads by prefetching in-viewport links during idle time.
sectionTitle: "## Demo"
sectionDescription:
  items:
    -
      description: A demo showing how to use Quicklink on a simple multi-page website.
      link: "* [Using Quicklink in a multi-page site](https://github.com/GoogleChromeLabs/quicklink/tree/master/demos/news)"
    -
      description: A demo showing how to use Quicklink with Workbox for offline caching and links in the visible viewport.
      link: "* [Using Quicklink with Service Workers (via Workbox)](https://github.com/GoogleChromeLabs/quicklink/tree/master/demos/news-workbox)"
---
{{ sectionTitle | markdown | safe }}
{% for item in sectionDescription.items %}
  {{ item.description | markdown | safe }}
  {{ item.link | markdown | safe }}
{% endfor %}
