---
title: Quicklink
layout: layouts/base.njk
description: Faster subsequent page-loads by prefetching in-viewport links during idle time.
sectionTitle: "## Summary"
sectionDescription:
  items:
    - "> Faster subsequent page-loads by prefetching in-viewport links during idle time."
---
{{ sectionTitle | markdown | safe }}
{% for item in sectionDescription.items %}
  {{ item | markdown | safe }}
{% endfor %}

{% include "components/why-quicklink.njk" %}

{% include "components/installation.njk" %}

{% include "components/usage.njk" %}

{% include "components/use-with.njk" %}
